
background-image{
    width: 100%;
    height: 100%;
}


.botaoInicio{
    margin-top: 50px;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(75, 75, 175);
    border-radius: 15px;
    color: white;
}

.botaoInicio:hover{
    background-color: rgb(47, 47, 121);
}

.iniciar h1{
    color: white;
}