@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: 'Pacifico', cursive;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-abstrato-azul_1393-339.jpg?1?w=360);
    background-size: 4000px;
}